<template name="helpText">
  <div align="justify" style="">
    <p><i>Hint</i>: you can use regular expressions to give your searches more power. For example, हो जा(ए|य|ये)[ ।.?!,]
      yields all orthographic variants for हो जाए.</p>
    <p>For an excellent introduction to regular expressions, see
      <a href="http://www.deepsky.com/~merovech/voynich/voynich_manchu_reference_materials/PDFs/jurafsky_martin.pdf#page=46" target="_blank">
     Jurafsky's textbook chapter</a>. If you just want a cheat sheet,
      <a href="http://web.mit.edu/hackl/www/lab/turkshop/slides/regex-cheatsheet.pdf" target="_blank">click this</a>.
    </p>
  </div>
</template>