<template name="tutorial_1">
  <h2>Welcome!</h2>
  <p><b>corpex</b> is a search engine that lets you search through
    <a href="https://lindat.mff.cuni.cz/repository/xmlui/handle/11858/00-097C-0000-0023-6260-A">
    HindMonoCorp
    </a>, a collection of over 365 million words in Hindi.
  </p>
</template>
<template name="tutorial_2">
  <p>Searching is easy. Simply type whatever Hindi phrase (or any string of characters, really) you want to find, and
  corpex will find all occurrences of it for you.</p>
</template>
<template name="tutorial_3">
  Click in the box and submit your query!
</template>

