.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.panel-container {
    max-width:800px;
}

.form-group {
    max-width:600px;
}

/* To keep navbar from overlapping page */
.text-center {
    padding-top: 70px;
}

